@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #000000;
}

.header {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 50px;
    align-items: center;
    padding-top: 5px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
}

.sity {
    width: 32px;
    height: 31px;
}


.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-logo a img {
    width: 170px;
    height: 50px;
}
.header-sity  a {
    display: flex;
    flex-direction: row;
    color: #1DB1BA;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;   
}


.header-user {
    background-color: #1C1F23;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.header-user > a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
}

.page {
    display: flex;
    flex-direction: row;
}


.side-navbar {
    display: flex;
    justify-content: center;
    height: auto;
    width: 144px;
    background-color: #0E0F11;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.menu-item {
    list-style: none;
    margin-right: 10px;
    margin-top: 24px;
}

.menu-link {
    color: #8B919B;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    
}

.menu-link:hover {
    transition: 0.5s;
    color: cornsilk;
}
.catalog-block > h2, 
.stock-block > h2,
.preview-block > h2 {
    padding-left: 35px;
    margin-bottom: 10px;
}

.catalog-block > h2 > a, 
.stock-block > h2 > a,
.preview-block > h2 > a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
}