*::-webkit-scrollbar {
    height: 12px;
    width: 12px;

}
*::-webkit-scrollbar-track {
    background: #504f4f;
    border-radius: 10px;

}
*::-webkit-scrollbar-thumb {
    background-color: #3c7ee5;
    border-radius: 5px;
    border: 1px solid #504f4f;
}

.post-film{
    overflow: scroll;
    height: 400px;
}
.title-table{
    border-bottom: solid 1px #3c7ee5;
    margin-bottom: 10px;
}
.table{
    width: 1150px;
    border-bottom: solid 1px #FFF;
    margin: 0;
    padding-bottom: 10px;
}
.title-table div {
    font-size: 12px;
    color: #0c63e4;
}
.table div{
    max-height: 35px;
    font-size: 12px;
    color: #868686;
}
.table .description,
.table .image{
    overflow: hidden;
}
.admin-btn-wrap{
    margin-bottom: 20px;
}
.admin-btn-wrap .btn{
    font-size: 0.5rem;
}
.green {
    color: #3df397;
}
.grey{
    color: #9d9d9d;
}
.red{
    color: #ff0000;
}
.white{
    color: #FFFFFF;
}
.id-admin{
    display: flex;
    flex-direction: row;
}
.w-10{
    width: 10%;
}
.w-30{
    width: 30%;
}
.w-45{
    width: 45%;
}

