body {
    background: #000;
}
h1, h2 {
    color: #FFF;
}

.header-promo img{
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.header-wrap {
    background: #000;
}
.header-right {
    display: flex;
    justify-content: end;
}
.header-right a {
    padding-left: 5px;
}
.header-right a span {
    color: rgb(190, 190, 190);
    font-size: 8px;
    margin-right: 6px;
    text-decoration: none;
    text-transform: uppercase;
}
.header-right a span:hover {
    color: #FFF;
}
.page-content {
    padding-bottom: 70px;
}

.side-wrap {
    display: none;
    padding-top: 26px;
}
.side-nav {
    text-align: center;
    height: 100%;
    padding: 10px 20px;
    background: rgb(22, 22, 22);
    border-radius: 5px;
}
.side-item {
    list-style: none;
    padding-top: 20px;
}
.side-item a {
    color: #87939A;
    text-decoration: none;
}
.side-item a:hover {
    transition: 0.8s;
    color: #FFFFFF;
}
.icon {
    height: 25px;
}
a {
    text-decoration: none;
    color: #FFF;
}
.censorship {
    position: absolute;
    font-size: 8px;
    color: #FFF;
    top: 5px;
    margin-left: 10px;
    font-weight: 600;
    border: solid 1px #FFF;
    border-radius: 50%;
}
.content-item-title,
.genre {
    color: #FFF;
    font-size: 14px;
}
.catalog-block,
.stock-block,
.preview-block {
    margin-top: 20px;
}
.mobile-nav{
    display: block;
    position: absolute;
    z-index: 99;
}
.mobile-nav ul{  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: #000;
    margin: 0;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    list-style: none;
}
/*  page-films */
.tabs-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}

.tabs-content {
    margin-top: 30px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
}

.tab-active {
    background-color: #0a53be;
}

.content{
    display: none;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-active {
    display: flex;
}

.content-item {
    position: relative;
    padding: 0 5px;
}


.content-item .wrapper {
    bottom: 35px;
    padding-bottom: 10px;
}

.content-item a img {
    border-radius: 5px;
    width: 100%;
}




@media (min-width: 992px) {
    .side-wrap {
        display: block;
    }
    .mobile-nav {
        display: none;
        
    }
}
